<section class="container-fluid" id="bd-banners">
    <header class="row d-none">
      <div class="col-12"><h1>Carousel-banners</h1></div>
    </header>
    <div class="row">
      <article class="col-md-12 p-0">
        <div class="owl-carousel owl-theme" id="carousel-banners">
          <!-------------- BANNER LINK -------------->
          <!-- <div class="item" style="background-image: url(/img/banner.jpg);">
            <a href="">
              <div class="container content-banner">
                <div class="row">
                  <div class="col-10 c-banner">
                    <h3>Banner Link</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos placeat reprehenderit quaerat? Tempore hic necessitatibus, quas est impedit corrupti blanditiis odio non tempora beatae voluptates. Odio inventore quasi animi enim.</p>
                  </div>
                </div>
              </div>
            </a>
          </div> -->
          <!-------------- BANNER WITHOUT LINK -------------->
          <div class="item" style="background-image: url(/img/banner.jpg);">
              <div class="container content-banner">
                <div class="row">
                  <div class="col-10 c-banner">
                    <h3>Bem Vindos</h3>
                    <p>Bem Vindos ao site da Informática da SESAU de Campo Mourão.</p>
                  </div>
                </div>
              </div>
          </div>
          <!-------------- BANNER WITH LINK -------------->
          <!-- <div class="item" style="background-image: url(/img/banner3.jpg);">
            <div class="container content-banner">
              <div class="row">
                <div class="col-10 c-banner">
                  <h3>Banner com link</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Dignissimos placeat reprehenderit quaerat? Tempore hic necessitatibus, quas est impedit corrupti blanditiis odio non tempora beatae voluptates.</p>
                </div>
                <div class="col-6 link-banner">
                  <a href="">
                    <h4>Acessar</h4>
                  </a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </article>
    </div>
  </section>
  
